<header>
    <div class="header-top-unscrolled" id="header-top">
    </div>
    <div class="header-middle-unscrolled" id="header-middle">
        <div class="responsive">
            <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
                <i class="fa fa-bars"></i>
              </a>
        </div>
       
        <a href="#main" class="logo-unscrolled" id="logo">FIROZA</a>
        <div id="top-move-on-scroll"></div>
    </div>
    <div class="header-bottom-unscrolled" id="header-bottom">
        <nav class="navigation">
            <a href="/admin/Dashboard">Dashboard</a>
            <a href="/admin/EditLayout">Collection</a>
            <a href="/admin/product">Products</a>
            <a href="/admin/orders">Orders</a>
            <a href="/admin/statistics">Statistics</a>
            <a href="/admin/users">Users</a>
            <a href="/admin/reviewsAdmin">Reviews</a>
            <a href="/admin/requests">Requests</a>

            <!-- <a href="reviewsAdmin.html">Promo codes</a>
            <a href="support.html">Frequent Questions</a> -->
            <!-- <a href="#">Necklaces</a>
            <a href="#">Rings</a>
            <a href="#">Head Pieces</a> -->
        </nav>
    </div>
   
</header>