<header>
    <div class="header-top-unscrolled" id="header-top">
        <div class="store-services" id="store-services">
            <nav class="navigation">
                <a href="#">
                    <i class="fa-solid fa-location-dot"></i>
                    <p>Find a Store</p>
                </a>
                <!-- <a href="#">
                    <i class="fa-solid fa-bell-concierge"></i>
                    <p>Services</p>
                </a> -->
                <a href="/user/ContactUs">
                    <i class="fa-solid fa-headset"></i>
                    <p>Contact Us</p>
                </a>
            </nav>
            <div class="search-button-unscrolled" id="search-button">
                <input type="search" id="searchField" class="searchField" placeholder="Search">
                <button id="search" class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
        <div class="user-data">
            <nav class="navigation">
                <!-- <a href="#">
                    <i class="fa-regular fa-envelope"></i>
                    <p>Newsletter</p>
                </a> -->
                <a href="#" id="login-button">
                    <i class="fa-regular fa-user"></i>
                    <p>My Account</p>
                </a>
                <a href="/user/wishlist">
                    <i class="fa-regular fa-heart"></i>
                    <p>My Wishlist</p>
                </a>
                <a href="/user/ShoppingCart">
                    <i class="fa-solid fa-bag-shopping"></i>
                    <p>Shopping Bag</p>
                </a>
            </nav>
        </div>
    </div>
    <div class="header-middle-unscrolled" id="header-middle">
        <div class="responsive">
            <a class="side-icon" id="side-icon">
                <i class="fa fa-bars" id="ham-whatever"></i>
            </a>
        </div>
        <a href="/" class="logo-unscrolled" id="logo">Firoza</a>
        <div id="top-move-on-scroll" style="display: none;" class="middleDiv">
            <div class="search-button-unscrolled" id="search-button2">
                <input type="search" id="searchField2" class="searchField" placeholder="Search">
                <button id="search2" class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <nav class="navigation">
                <a href="#">
                    <i class="fa-solid fa-location-dot"></i>
                </a>
                <!-- <a href="#">
                    <i class="fa-solid fa-bell-concierge"></i>
                </a> -->
                <a href="/user/ContactUs">
                    <i class="fa-solid fa-headset"></i>
                </a>
                <!-- <a href="#">
                    <i class="fa-regular fa-envelope"></i>
                </a> -->
                <a href="#" id="login-button2">
                    <i class="fa-regular fa-user"></i>
                </a>
                <a href="/user/wishlist">
                    <i class="fa-regular fa-heart"></i>
                </a>
                <a href="/user/ShoppingCart">
                    <i class="fa-solid fa-bag-shopping"></i>
                </a>
            </nav>
        </div>
    </div>
    <div class="header-bottom-unscrolled" id="header-bottom">
        <nav class="navigation">
            <a href="/">Home</a>
            <a href="/user/shopAll">Shop All</a>
            <a href="/Collections" id="collections-anchor-with-extension" class="extension">Collections</a>
            <a href="/user/shopAll" data-category="Bracelets">Bracelets</a>
            <a href="/user/shopAll" data-category="Earrings">Earrings</a>
            <a href="/user/shopAll" data-category="Necklace">Necklaces</a>
            <a href="/user/shopAll" data-category="Ring">Rings</a>
        </nav>
    </div>
    <div class="header-bottom-anchor-extension" id="header-bottom-anchor-extension">
        <button id="exit-extension-button"><i class="fa-solid fa-x"></i></button>
        <div id="collections-extension">
            <div class="collection-anchors">
                <h4>Collections</h4>
                <a href="/user/indian">The Indian High Jewelry <br> Collection</a>
                <a href="/egyptian">The Indian High Jewelry <br> Collection</a>
            </div>
            <div class="collection-extension">
                <a class="extension-item" href="/user/indian">
                    <img src="../images/Landing/exp/indian-extension-copy.jpg" alt="" class="category-img extension-img">
                    <div>
                        <h4 class="extension-text">Discover the indian collection</h4>
                    </div>
                </a>
            </div>
            <div class="collection-extension">
                <div class="collection-extension">
                    <a class="extension-item" href="/egyptian">
                        <img src="../images/Landing/exp/egyptian-extension-copy.jpg" alt="" class="category-img extension-img">
                        <div>
                            <h4 class="extension-text">Discover the Egyptian collection</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="search-extension" id="search-extension">
        <button id="exit-search-extension-button"><i class="fa-solid fa-x"></i></button>
        <!-- <p>Are you searching for <a href="" id="search-filter-link"></a> ?</p> -->
        <h3>Products</h3>
        <div id="search-results" class="search-results">
            
        </div>
    </div>
</header>
<div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" id="closebtn">&times;</a>
    <a href="/">Home</a>
    <!-- <a href="#">Find a Store</a> -->
    <a href="/user/ContactUs">Contact Us</a>
    <a href="#" id="login-button3">My Account</a>
    <a href="/user/wishlist">My Wishlist</a>
    <a href="/user/ShoppingCart">Shopping Bag</a>
    <a href="/user/ShopAll">Shop All</a>
    <div class="dropdown">
        <a href="#" class="dropbtn">Collections</a>
        <div class="dropdown-content">
            <a href="/user/indian">Indian Collection</a>
            <a href="/egyptian">Egyptian Collection</a>
        </div>
    </div>  
</div>
<div id="popup-container" class="popup-container">
    <div class="popup-form">
        <button id="exit-popup-button"><i class="fa-solid fa-x"></i></button>
        <nav class="login-nav">
            <button id="login-nav" class="login-nav-text-style active">Login</button>
            <button id="Create-an-account-nav" class="login-nav-text-style">Create new account</button>
        </nav>
        <form id="login-form" method="post" action="/user/login">
            <label class="login-nav-text-style" for="email-address-field">E-mail Address</label>
            <input class="login-nav-text-style" type="email" name="email-address-field" id="login-form-email-field">
            <p class="input-error login-nav-text-style" id="login-form-email-error"></p>
            <label class="login-nav-text-style" for="password-field">Password</label>
            <input class="login-nav-text-style" type="password" name="password-field" id="login-form-password-field">
            <p class="input-error login-nav-text-style" id="login-form-password-error"></p>
            <div class="remember-me-forgot-password-container">
                <div class="remember-me-div">
                    <input type="checkbox" id="remember-me-checkbox">
                    <label for="remember-me-checkbox" class="login-nav-text-style">Remember me</label>
                </div>
                <div>
                    <a href="" class="login-nav-text-style forgot-password">Forgot password?</a>
                </div>
            </div>
            <button class="login-nav-text-style" type="submit" id="login-form-button">Login</button>
        </form>
        <form id="create-account-form" action="/user/signup" method="post">
            <div class="sign-up-name-section">
                <div id="sign-up-fname">
                    <label class="login-nav-text-style" for="first-name-field">First name</label>
                    <input class="login-nav-text-style" type="text" name="first-name-field" id="sign-up-first-name-field">
                    <p class="input-error login-nav-text-style" id="sign-up-first-name-error"></p>
                </div>
                <div>
                    <label class="login-nav-text-style" for="last-name-field">Last name</label>
                    <input class="login-nav-text-style" type="text" name="last-name-field" id="sign-up-last-name-field">
                    <p class="input-error login-nav-text-style" id="sign-up-last-name-error"></p>
                </div>
            </div>
            <label class="login-nav-text-style" for="email-address-field">E-mail Address</label>
            <input class="login-nav-text-style" type="email" name="email-address-field" id="sign-up-email-field">
            <p class="input-error login-nav-text-style" id="sign-up-email-error"></p>
            <label class="login-nav-text-style" for="confirm-email-address-field">Confirm E-mail Address</label>
            <input class="login-nav-text-style" type="email" name="confirm-email-address-field" id="sign-up-confirm-email-field">
            <p class="input-error login-nav-text-style" id="sign-up-confirm-email-error"></p>
            <label class="login-nav-text-style" for="password-field">Password</label>
            <input class="login-nav-text-style" type="password" name="password-field" id="sign-up-password-field">
            <p class="input-error login-nav-text-style" id="sign-up-password-error"></p>
            <label class="login-nav-text-style" for="confirm-password-field">Confirm Password</label>
            <input class="login-nav-text-style" type="password" name="confirm-password-field" id="sign-up-confirm-password-field">
            <p class="input-error login-nav-text-style" id="sign-up-confirm-password-error"></p>
            <div class="remember-me-forgot-password-container">
                <div class="remember-me-div">
                    <input type="checkbox" id="remember-me-checkbox">
                    <label for="remember-me-checkbox" class="login-nav-text-style">Sign up for special offers</label>
                </div>
            </div>
            <button class="login-nav-text-style" type="submit" id="create-account-button">Create account</button>
        </form>
    </div>
</div>
<div class="login-message-popup" id="login-message-popup">
    <h2>Login Successful</h2>
    <i class="fa-solid fa-circle-check"></i>
</div>