<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/CSS/nav-bar-white.css"> -->
    <link rel="stylesheet" href="/CSS/404.css">
    <link rel="stylesheet" href="/CSS/Footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- <script src="/Javascript/nav-bar.js"></script> -->
    <title>Landing Page</title>
</head>
<body>
    <section class="main" id="main">

        <h1>4<img src="/images/Landing/exp/ring_86389.png" alt="">4 - Page Not Found</h1>
        <h2>Looks like this page doesn't exist</h2>
        <h3>Go back to home and continue exploring</h3>
        <a href="/" class="button">Return to Home Page</a>

    </section>
    <%- include('./partials/footer.ejs') %>
</body>
</html>