<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/landing-style.css">
    <link rel="stylesheet" href="/CSS/AddAdmin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="/Javascript/AddAdmin.js"></script>
    <!-- <link rel="stylesheet" href="../CSS/admin-collections.css"> -->
    <title>Document</title>
</head>

<body>
    <%- include('./partials/Admin-NavBar.ejs') %>
    <div class="container">
        <!-- <div class="text">
            Contact us Form
        </div> -->
        <form id="addAdminForm" action="/admin/addAdmin" method="POST">
            <h2>Add Admin</h2>
            <div class="form-row">
                <div class="input-data">
                    <input type="text" name="firstName" required>
                    <div class="underline"></div>
                    <label for="">First Name</label>
                </div>
                <div class="input-data">
                    <input type="text" name="lastName" required>
                    <div class="underline"></div>
                    <label for="">Last Name</label>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data">
                    <input type="email" name="email" required>
                    <div class="underline"></div>
                    <label for="">Email Address</label>
                </div>
                <div class="input-data">
                    <input type="password" name="password" required>
                    <div class="underline"></div>
                    <label for="">Password</label>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data">
                    <input type="text" name="contactNumber" required>
                    <div class="underline"></div>
                    <label for="">Contact Number</label>
                </div>
            </div>
            <div class="form-row submit-btn">
                <div class="input-data">
                    <div class="inner"></div>
                    <input type="submit" value="Add">



                </div>
            </div>
        </form>

    </div>

</body>

</html>