<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/landing-style.css">
    <link rel="stylesheet" href="/CSS/AddAdmin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="/Javascript/AddAdmin.js"></script>
    <!-- <link rel="stylesheet" href="../CSS/admin-collections.css"> -->
    <title>Document</title>
</head>

<body>
    <%- include('./partials/Admin-NavBar.ejs') %>
    <div class="container">
        <form id="addAdminForm" method="POST" href="/admin/saveaddAdmin">
            <h2>Add Admin</h2>
            <div class="form-row">
                <div class="input-data">
                    <input type="text" id="firstName" name="firstName">
                    <div class="underline"></div>
                    <label for="firstName">First Name</label>
                </div>
                <div class="input-data">
                    <input type="text" id="lastName" name="lastName" >
                    <div class="underline"></div>
                    <label for="lastName">Last Name</label>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data">
                    <input  id="email" name="email" >
                    <div class="underline"></div>
                    <label for="email">Email Address</label>
                </div>
                <div class="input-data">
                    <input  id="password" name="password" >
                    <div class="underline"></div>
                    <label for="password">Password</label>
                </div>
            </div>
         
            <div class="form-row submit-btn">
                <div class="input-data">
                    <div class="inner"></div>
                    <input type="submit" value="Add">
                </div>
            </div>
        </form>
    </div>
    <script src="/Javascript/AddAdmin.js"></script>
    
</body>

</html>