<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit product</title>
    <link rel="stylesheet" href="/CSS/Add-product.css">
    <script src="/Javascript/addProduct.js"></script>
    <link rel="stylesheet" href="/CSS/Admin-NavBar.css">
    <script src="/Javascript/nav-bar.js"></script>
    <script src="/Javascript/adminNavbar.js"></script>
</head>

<body>
    <%- include('./partials/Admin-NavBar.ejs') %>

    <div class="container" id="container">
        <div class="form-container sign-up"></div>
        <div class="form-container sign-in">
            <form action="/admin/addProduct" method="POST" >
                <h1>Add product</h1>
                <span>All fields is a must to fill</span>
                <input type="text" name="product_id" placeholder="Product ID" required>
                <input type="text" name="name" placeholder="Name Product" pattern="[A-Za-z\s]+" required>
                <input type="number" name="price" placeholder="Price" min="1000" required>
                <select name="collection_id" id="Collections" required>
                    <option value="" disabled selected>Belongs to</option>
                    <option value="1">Collection 1</option>
                    <option value="2">Collection 2</option>
                    <option value="3">Collection 3</option>
                    <option value="4">Collection 4</option>
                </select>
                <select name="category" id="Category" required>
                    <option value="" disabled selected>Category</option>
                    <option value="Ring">Ring</option>
                    <option value="Necklace">Necklace</option>
                    <option value="Earrings">Earrings</option>
                </select>
                <div class="uploadOuter">
                    <label for="uploadFile" class="btn btn-primary">Upload Image</label>
                    <strong>OR</strong>
                    <span class="dragBox">
                        Drag and Drop image here
                        <input type="file" name="img" onChange="dragNdrop(event)" ondragover="drag()" ondrop="drop()" id="uploadFile" required />
                    </span>
                </div>
                <h4 class="successful"></h4>
                <h6 class="s"></h6>
                <span class="sure"></span>
                <button type="submit" id="submitButton">Sure</button>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h3 class="picture-validation"></h3>
                    <div id="preview" class="image-container"></div>
                    <button class="hidden" id="login">Continue Editing</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <input type="text" name="description" placeholder="Product Description" pattern="[A-Za-z\s]+" required>
                    <select name="size" id="Sizes">
                        <option value="" disabled selected>Size</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <input type="number" name="quantity" placeholder="Quantity" min="1" required>
                    <input type="text" name="material" placeholder="Material" required>
                    <input type="text" name="color" placeholder="Color" required>
                    <input type="number" name="rating" placeholder="Rating" min="0" max="5">
                    <input type="number" name="no_sales" placeholder="Number of Sales" min="0">
                    <button type="submit" id="submitButton">Save</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</body>

</html>
