<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/collections.css">
    <link rel="stylesheet" href="/CSS/nav-bar.css">
    <link rel="stylesheet" href="/CSS/Footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="/Javascript/nav-bar.js"></script>
    <title>Landing Page</title>
</head>
<body>
    <%- include('./partials/Nav-bar.ejs') %>

    <section class="main" id="main">
        <video src="/videos/Collections/background.mp4" id="video-background" autoplay loop muted></video>
        <!-- <div class="main-text">
            <h1>Discover the real you</h1>
            <a  class="button" href="/">TAKE THE QUIZ</a>
        </div> -->
    </section>
    <section class="collection-text">
        <h3>THE EGYPTIAN</h3>
        <h4>HIGH JEWELRY COLLECTION</h4>
        <p>From Nile's embrace to modern brilliance, the Egyptian High Jewelry Collection unfolds. <br>
        Each piece whispers ancient tales, reimagined for a dazzling present. Pharaohs' <br>
        artistry meets bold innovation, crafted with the desert's fire  and finest <br>
        gems. A timeless legacy, eternally captivating.</p>
    </section>
    <section class="image-container">
        <div class="image-wrapper">
            <img src="/images/Collections/left.jpg" alt="">
            <div class="collection-text darkend-div">
                <h4>Seven Pharaoh's Stars</h4>
                <p>Flawless diamonds, a legacy of brilliance. Timeless power adorns the modern queen.</p>
            </div>
        </div>
        <div class="image-wrapper">
            <img src="/images/Collections/right.jpg" alt="">
            <div class="collection-text darkend-div">
                <h4>Eternal Nile, Endless Design.</h4>
                <p>A captivating journey where ancient whispers meet modern brilliance.</p>
            </div>
        </div>
    </section>
    <section class="collection-text">
        <h3>THE INDIAN</h3>
        <h4>HIGH JEWELRY COLLECTION</h4>
        <p>Woven with the threads of time, our Indian High Jewelry Collection celebrates <br>
        a legacy that transcends generations. Each piece embodies the soul <br>
        of Hindustan, echoing the grandeur of ancient empires and the <br>
        vibrant spirit of a modern India. From the Mughal era's <br>
        intricate craftsmanship to the dazzling colors of <br>
        contemporary design, this collection <br>
        is a testament to India's enduring love <br>
        affair with exquisite jewels.</p>
    </section>

    <%- include('./partials/footer.ejs') %>
</body>
</html>