<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contact-us.css">
    <link rel="stylesheet" href="/css/nav-bar-white.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="/Javascript/contact-us.js" defer></script>
    <script src="/Javascript/nav-bar.js" defer></script>
    <title>Contact Us Form | Customer Care | Firoza</title>
</head>
<body>
    <%- include('./partials/Nav-bar.ejs') %>
    
    <section class="CU">
        <div class="title">
            <h1>Contact Us</h1>
        </div>
        <form id="contactUsForm" method="post" action="/user/submitRequest">
            <div id="main-form">
                <div class="vertical-form">
                    <label for="first-name-form-field" class="login-nav-text-style">First name*</label>
                    <input type="text" name="first-name-form-field" id="first-name-form-field" placeholder="Insert Name">
                    <p id="first-name-form-field-error" class="input-error"></p>
                    <label for="last-name-form-field" class="login-nav-text-style">Last name*</label>
                    <input type="text" name="last-name-form-field" id="last-name-form-field" placeholder="Insert Last Name">
                    <p id="last-name-form-field-error" class="input-error"></p>
                    <label for="email-address-form-field" class="login-nav-text-style">Email Address*</label>
                    <input type="email" name="email-address-form-field" id="email-address-form-field" placeholder="Insert Email Address">
                    <p id="email-address-form-field-error" class="input-error"></p>
                </div>
                <div class="vertical-form">
                    <label for="subject-select-field" class="login-nav-text-style">Subject*</label>
                    <select name="subject-select-field" id="subject-select-field">
                        <option value="Return Request" selected>Return Request</option>
                        <option value="Exchange Request">Exchange Request</option>
                        <option value="Complaint">Complaint</option>
                        <option value="Other">Other</option>
                    </select>
                    <label for="reason-form-field" class="login-nav-text-style">Reason*</label>
                    <input type="text" name="reason-form-field" id="reason-form-field" placeholder="Insert Reason">
                    <p id="reason-form-field-error" class="input-error"></p>
                </div>
            </div>
            <div class="buttons">
                <button class="submit-button" id="submit-button" type="submit">Submit</button>
                <button class="back-button" id="back-button" href="/user/ContactUs">Back</button>
            </div>
        </form>
    </section>
</body>
</html>
