<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contact-us.css">
    <link rel="stylesheet" href="/css/nav-bar-white.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="/Javascript/contact-us.js"></script>
    <script src="/Javascript/nav-bar.js"></script>
    <title>Contact Us Form | Customer Care | Firoza</title>
</head>
<body>
    <%- include('./partials/Nav-bar.ejs') %>
    
    <section class="CU">
        <div class="title">
            <h1>Contact Us</h1>
        </div>
        <form method="post" action="" enctype="">
            <div id="main-form">
                <div class="vertical-form">
                    <label for="title-select-field" class="login-nav-text-style">Title*</label>
                    <select name="title-select-field" id="title-select-field">
                        <option value="Ms." selected>Ms.</option>
                        <option value="Mrs.">Ms.</option>
                        <option value="Mr.">Ms.</option>
                        <option value="Prefer not to say">Prefer not to say</option>
                    </select>
                    <label for="first-name-form-field" class="login-nav-text-style">First name*</label>
                    <input type="text" name="first-name-form-field" id="first-name-form-field" placeholder="Insert Name">
                    <p id="first-name-form-field-error" class="input-error"></p>
                    <label for="last-name-form-field" class="login-nav-text-style">Last name*</label>
                    <input type="text" name="last-name-form-field" id="last-name-form-field" placeholder="Insert Last Name">
                    <p id="last-name-form-field-error" class="input-error"></p>
                    <label for="email-address-form-field" class="login-nav-text-style">Email Address*</label>
                    <input type="email" name="email-address-form-field" id="email-address-form-field" placeholder="Insert Email Address">
                    <p id="email-address-form-field-error" class="input-error"></p>
                    <label for="country-select-field" class="login-nav-text-style">Country/Region*</label>
                    <select name="country-select-field" id="country-select-field">
                        <option value="Egypt" selected>Egypt</option>
                        <option value="India">India</option>
                        <option value="Palestine">Palestine</option>
                        <option value="UK">UK</option>
                    </select>
                </div>
                <div class="vertical-form">
                    <label for="subject-select-field" class="login-nav-text-style">Subject*</label>
                    <select name="title-select-field" id="title-select-field">
                        <option value="Product Information" selected>Product Information</option>
                        <option value="Product Purchase">Product Purchase</option>
                        <option value="Boutique Information">Boutique Information</option>
                        <option value="e-Repair Jewelry">e-Repair Jewelry</option>
                    </select>
                    <label for="phone-number-form-field" class="login-nav-text-style">Phone number</label>
                    <input type="tel" name="phone-number-form-field" id="phone-number-form-field" placeholder="Insert Phone Number">
                    <p id="phone-number-form-field-error" class="input-error"></p>
                    <label for="message-form-field" class="login-nav-text-style">Message*</label>
                    <textarea id="message-form-field" name="message-form-field"  cols="50" placeholder="Insert Message"></textarea>
                    <p id="message-form-field-error" class="input-error"></p>
                </div>
            </div>
            <div>
                <button class="submit-button login-nav-text-style" id="submit-button" type="submit">Submit</button>
            </div>
        </form>
    </section>
    <script src="/Javascript/contact-us.js"></script>
</body>
</html>