<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="vewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  <!-- Style -->
  <link rel="stylesheet" href="css/layout.css">
  <script src="/Javascript/nav-bar.js"></script>
  <script src="/Javascript/adminNavbar.js"></script>
  <link rel="stylesheet" href="/CSS/Admin-NavBar.css">
  <title>Layout</title>
</head>

<body>

    <%- include('./partials/Admin-NavBar.ejs') %>
  <div class="content">

    <div class="container">
      <!-- <h2 class="mb-5">Table #10</h2> -->

      <div class="table-responsive">

        <table class="table table-striped custom-table">
          <thead>
            <tr class="active">
              <th scope="col">
                <label class="control control--checkbox">
                  <!-- <input type="checkbox" class="js-check-all" />
                  <div class="control__indicator"></div> -->
                </label>
              </th>
              <th scope="col">ID</th>
              <th scope="col">Collection Name</th>
              <th scope="col">Description</th>
              <th scope="col">Launch date</th>
              <th scope="col">Edit Collection</th>
              <th scope="col">
                <label class="custom-control ios-switch" style="position: relative; top: 10px;">
                  <input type="checkbox" class="ios-switch-control-input js-ios-switch-all">
                  <span class="ios-switch-control-indicator"></span>
                </label>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr scope="row" class="active">
              <td>
                <label class="control control--checkbox">
                  <!-- <input type="checkbox" /> -->
                  <!-- <div class="control__indicator"></div> -->
                </label>
              </td>
              <td>
                1392
              </td>
              <td class="pl-0">
                <div class="d-flex align-items-center">
      
                  <a href="#" class="name">
                    <span class="editable" contenteditable="false">The Indian Collection</span>
                  </a>

                </div>
              </td>

              <td>
                <span class="editable" contenteditable="false">Web Designer</span>
                            <small class="d-block editable" contenteditable="false">Far far away, behind the word mountains</small>
              </td>

              <td>5th of June 2023</td>

              <td><button class="edit-btn btn btn-primary">Edit</button></td>

              <td>
                <label class="custom-control ios-switch">
                  <input type="checkbox" class="ios-switch-control-input" checked="">
                  <span class="ios-switch-control-indicator"></span>
                </label>
              </td>

            </tr>

            <tr class="active">

              <td>
                <label class="control control--checkbox">
                  <!-- <input type="checkbox" />
                  <div class="control__indicator"></div> -->
                </label>
              </td>

              <td>4616</td>
              <td class="pl-0">
                <div class="d-flex align-items-center">


                  <a href="#" class="name">
                    <span class="editable" contenteditable="false">The Egyptian Collection</span>
                  </a>

                </div>

              </td>
              <td>
                <span class="editable" contenteditable="false">Web Designer</span>
                <small class="d-block editable" contenteditable="false">Far far away, behind the word mountains</small>
              </td>
              <td>10 May 2020</td>
              <td><button class="edit-btn btn btn-primary">Edit</button></td>
              
              <td>
                <label class="custom-control ios-switch">
                  <input type="checkbox" class="ios-switch-control-input" checked="">
                  <span class="ios-switch-control-indicator"></span>
                </label>
              </td>
            </tr>

            <tr>
              <td>
                <label class="control control--checkbox">
                  <!-- <input type="checkbox" />
                  <div class="control__indicator"></div> -->
                </label>
              </td>
              <td>9841</td>
              <td class="pl-0">
                <div class="d-flex align-items-center">


                  <a href="#" class="name">
                    <span class="editable" contenteditable="false">The Egyptian Collection</span>
                  </a>
                </div>

              </td>
              <td>
                <span class="editable" contenteditable="false">Web Designer</span>
                <small class="d-block editable" contenteditable="false">Far far away, behind the word mountains</small>
              </td>
              <td>15 Feb 2024</td>
               <td><button class="edit-btn btn btn-primary">Edit</button></td>
              <td>
                <label class="custom-control ios-switch">
                  <input type="checkbox" class="ios-switch-control-input">
                  <span class="ios-switch-control-indicator"></span>
                </label>
              </td>
            </tr>


            <tr>
              <td>
                <label class="control control--checkbox">
                  <!-- <input type="checkbox" />
                  <div class="control__indicator"></div> -->
                </label>
              </td>
              <td>9548</td>

              <td class="pl-0">
                <div class="d-flex align-items-center">


                  <a href="#" class="name">
                    <span class="editable" contenteditable="false">The Egyptian Collection</span>
                  </a>
                </div>

              </td>

              <td>
                <span class="editable" contenteditable="false">Web Designer</span>
                <small class="d-block editable" contenteditable="false">Far far away, behind the word mountains</small>
              </td>
              <td>1 july 2023</td>
              <td><button class="edit-btn btn btn-primary">Edit</button></td>
              <td>
                <label class="custom-control ios-switch">
                  <input type="checkbox" class="ios-switch-control-input">
                  <span class="ios-switch-control-indicator"></span>
                </label>
              </td>
            </tr>

           
            

          </tbody>
        </table>
      </div>


    </div>

  </div>



  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <!-- <script src="js/popper.min.js"></script> -->
  <!-- <script src="js/bootstrap.min.js"></script> -->
  <script src="Javascript/layout.js"></script>
  <script src="Javascript/editable.js"></script>
</body>

</html>