<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/notAuthorized.css">
    <link rel="stylesheet" href="/CSS/Footer.css">
   <title>Not Authorized</title>
</head>
<body>
    <section class="main" id="main">
        <h1>You're Not Auth<img src="/images/Landing/exp/ring_86389.png" alt="">rized to enter this page</h1>
        <h2>please sign in to gain access</h2>
        <h3>Go back to your previous page</h3>
        <a class="button" href="/">Return to Home Page</a>
    </section>
    <!-- <%- include('./partials/footer.ejs') %> -->
</body>
</html>
