<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/notAuthorized.css">
    <link rel="stylesheet" href="/CSS/Footer.css">
   <title>Not Authorized</title>
</head>
<body>
    <section class="main" id="main">
        <h1>You're Not Authorized Here</h1>
        <h2>Looks like there's nothing here</h2>
        <h3>Go back to your previous page</h3>
        <button class="button" onclick="window.history.back()">Return to Previous Page</button>
    </section>
    <!-- <%- include('./partials/footer.ejs') %> -->
</body>
</html>
