<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz!</title>
    <script src="../Javascript/Quiz.js"></script>
    <script src="../Javascript/landing-script.js"></script>
    <link rel="stylesheet" href="/CSS/nav-bar-white.css">
    <link rel="stylesheet" href="/CSS/Footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="/Javascript/nav-bar.js"></script>
    <link rel="stylesheet" href="/CSS/Quiz.css">
</head>
<body>

    <%- include('./partials/Nav-bar.ejs') %>

    
    <div class="haya">
        <div class="info">
            <div class="pop">
                <h1>Pop Quiz! What's your personal style?</h1>
                <hr>
            </div>
            <div class="intro">
                <p>Like a timeless piece of jewelry, style is eternal. <br>
                     Trends may come and go, but your unique essence remains. Here, within our diverse collections, <br>
                     we're not just about selling jewelry; we're about helping you discover the shimmering facets of your own style. <br>
                      Let's journey together through our quiz and unearth the treasures that perfectly reflect the brilliance of you!</p>
            </div>
        </div>>
        <div class="container">
            <div class="card1">
                <p>Discover yourself!</p>
                <p>It's not just about finding jewelry; it's about finding pieces that resonate with your inner sparkle. Get ready to explore, express, and embrace what makes you shine!</p>
                <button onclick="window.location.href='PersonalQuiz.html'">Start now!</button>
            </div>
            <div class="card2">
                <p>Quiz party!</p>
                <p>This is your chance to discover your jewelry style with your favorite people by your side. Let the quiz party begin and let the good times roll!</p>
                <button onclick="window.location.href='Quizparty.html'">Discover</button>
            </div>
            
        </div>
    </div>
    
</body>
</html>