<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firoza | Stores</title>
    <link rel="stylesheet" href="/CSS/nav-bar-white.css">

</head>
<body>

  <div id='storemapper' style='width:100%;'>
    <p>Store Locator is loading from <a href='https://www.storemapper.co'>Storemapper</a>...</p>
  </div>
  <script data-storemapper-start='2024,06,21'
          data-storemapper-id='26828-NIuiFkWsBO1jhFfn'>
          (function() {var script = document.createElement('script');
            script.type  = 'text/javascript';script.async = true;
            script.src = 'https://www.storemapper.co/js/widget-3.min.js';
            var entry = document.getElementsByTagName('script')[0];
            entry.parentNode.insertBefore(script, entry);}
          ());
  </script>
      
</body>
</html>