@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Didact+Gothic&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/futura-pt');

/* OPTIONAL FONT FOR LOGIN POP UP */
@import url(https://db.onlinewebfonts.com/c/be89a5bed739eee8649fa3322ff5c52b?family=Engravers%27+Gothic+BT);

/* FROM HAYA */
@import url('https://fonts.cdnfonts.com/css/garet');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Didact+Gothic&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Didact+Gothic&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* MAIN */

.CU {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CU h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    font-family: "Engravers' Gothic BT", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: black;
    margin-top: 180px;
}

.main {
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
}

.main-content {
    color: black;
    margin-top: 30px;
    text-decoration: none;
    padding: 1.25rem;
    background-color: #f0ede8;
    width: 396px;
    height: 129px;
    border: .0625rem solid rgba(0, 0, 0, 0);
    margin-right: 20px;
}

.main-content:hover {
    border: 1px solid black;
}

#Contact-us, #CSAI, #email-us-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#Email-us {
    display: flex;
    flex-direction: column;
}

.icon {
    margin-top: -35px;
    font-size: 30px;
    color: black;
    margin-right: 20px;
}

.main-text-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
}

.main-text-content h3 {
    font-size: medium;
    font-weight: 800;
}

.drop-down {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: large;
    color: black;
}

#email {
    margin-top: 7px;
    margin-left: 3.125rem;
}

.cspopup-form {
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 590px;
    height: auto;
    max-height: 650px;
    overflow: scroll;
}


#main-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100vw; 
    margin: 0 auto; 
    padding: 0 20px
}

.vertical-form input, .vertical-form select, .vertical-form textarea, .vertical-form select option{
    font-family: sans-serif;
    width: 620px;
    min-width: 300px;
    height: 39px;
    letter-spacing: 0.05em;
    font-size: 1rem;
    font-weight: normal;
    box-sizing: border-box;
    line-height: 1.5;
    color: #1f1f1f;
    transition: box-shadow .25s ease-in-out, border-color .25s ease-in-out;
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid silver;
    font-weight: normal;
}

.vertical-form label{
    line-height: 1.8;
    font-size: 18px;
}

.vertical-form {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

textarea {
    min-height: 220px;
    max-width: 620px;
    resize: both;
}

.submit-button {
    background: rgba(0, 0, 0, 0);
    color: #1f1f1f;
    border: 1px solid #1f1f1f;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: 18px;
    padding: 18px 45px;
    text-decoration: none;
    line-height: 1.125rem;
    margin-bottom: 20px;
    margin-top: -10px;
}

.submit-button:hover {
    background-color: #1f1f1f;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 1400px) {
    .vertical-form input, .vertical-form select, .vertical-form textarea {
        width: 50px;
        margin-bottom: 20px ;
        padding: auto;
    }
}

@media screen and (max-width: 1090px){
    header {
        width: 100%;
    }

    .side-icon {
        display: block;
    }

    .logo {
        margin-right: 0;
    }

    .responsive {
        margin-right: 70px;
    }

    .navigation {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        background: white;
        padding: 10px;
        z-index: 999;
    }

    .navigation a {
        display: block;
        color: black;
        text-decoration: none;
        padding: 5px 0;
    }
} 