@import url('https://fonts.cdnfonts.com/css/futura-pt');


* {
    font-family: 'Nunito Sans', 'PT Sans', 'Didact Gothic', 'Garet', sans-serif;
}

body {
    background-color: #f3f3f3;
    min-height: 100vh;
    vertical-align: middle;
    display: flex;
    font-family: 'futura pt', sans-serif;
    font-weight: bold;
    color: #000;
}

a {
    color: #000;
}

a:hover {
    color: #000;
}

.logo {
    font-family: sans-serif;
}

/*  -----------------header------------------------------------- */

/* --------------------------------------------------------------- */

.container {
    padding-top: 150px;
    /* width:1000vh; */
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;

}



.card-title {
    font-family: 'futura pt';
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 1.3rem;
}

.card-body {
    padding: 2rem;
}

.card-body .close {
    font-size: 1rem;
    color: #999;
    border: none;
    background: none;
}

.btn-link {
    color: #000;
}

.btn-link:hover {
    text-decoration: none;
}

.input-group {
    width: 100%;
    max-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.input-group .btn {
    border: none;
    background: none;
    color: 000
}

.input-group .btn:hover {
    border: none;
    background: none;
    color: 000;
}

.form-control {
    text-align: center;
    border-color: #ced4da;
    font-family: 'futura pt';
    font-weight: 400;
    letter-spacing: 0.01rem;
    /* border: none; */
}

.form-control:focus {
    border: none;
    border-color: #495057;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-dark {
    background: rgba(0, 0, 0, 0);
    font-family: 'futura pt';
    font-weight: 500;
    color: #1f1f1f;
    border: 1px solid #1f1f1f;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: 15px;
    text-align: center;
    width: 350px;
    padding: 15px 43px;
    text-decoration: none;
    line-height: 0.8rem;
    /* margin-bottom: 20px;
    margin-top: -10px; */
}

.btn-dark:hover {
    color: #fff;
}

.items-count,
.total-price {
    font-family: 'futura pt';
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5px;
}


.item-row {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
    min-height: 650px;
}

.col3 {
    width: 150px;
    height: 150px;
}

.item-row img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 0.5rem;
    /* border: 1px solid black; */
    padding: 0.1rem;
}

.item-info p,
.item-info h6 {
    font-family: 'futura pt';
    font-weight: 600;
    flex-grow: 1;
    padding: 0 0.1rem;
}

.item-info h6 {
    text-transform: uppercase;
}

.item-price {
    font-family: 'futura pt';
    font-weight: 500;
    margin-bottom: 0;
    padding-left: 16px;
}

.item-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item-actions .input-group {
    margin-bottom: 0.5rem;
}

.item-actions .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.25rem;
    color: #999;
    border: none;
    background: none;
}

.shipping-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.3rem 0;
}

.shipping-options label,
.shipping-options option,
.shipping-options select {
    margin-right: 1rem;
    font-family: 'futura pt';
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

.summary p {
    font-family: 'futura pt';
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.displayButton {
    display: block;
}

.d-flex strong {
    font-family: 'futura pt';
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;

}

#checkout:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

@media(max-width:767px) {
    .card {
        margin: 3vh auto;
    }
}

@media(max-width:767px) {
    .cart {
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}

@media(max-width:767px) {
    .summary {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem;
    }
}




.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.buttonP {
    font-size: 1em;
    padding: 10px;
    color: #1f1f1f;
    border: 1px solid #1f1f1f;
    /* border-radius: 20px/50px; */
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.buttonP:hover {
    background: #000000;
    color: #ffffff;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* margin-top:100px; */
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 500px auto;
    margin-right: 100vh;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 60%;
    position: fixed;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}



button {
    font-size: 1em;
    background-color: white;
    padding: 10px;
    color: #1f1f1f;
    border: 1px solid #1f1f1f;
    /* border-radius: 20px/50px; */
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

/* Add this to your CSS file */
.spinner-border {
    display: block;
    margin: auto;
    width: 3rem;
    height: 3rem;
    border-width: .3em;
    color: #000000;
    
    /* Black color for the spinner */
}