@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.cdnfonts.com/css/futura-pt');

body {
    font-family: 'futura pt', sans-serif;
    background-color: #f8f8f8;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
}

.main-content {
    margin-top: 110px; /* Increased margin-top for more space */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
}
.img-prod{
    width:200px;
    height:200px;
    object-fit: contain;
}
.review-container {
    display: flex;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 800px; /* Fixed width for review container */
    margin-bottom: 20px; /* Add margin for spacing between reviews */
    background-color: white;
}

.prod-info {
    background-color: #000000;
    padding: 20px;
    width: 200px; /* Width of product info section */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.prod-pic {
    width: 100px;
    height: 100px;
    background-color: red;
    margin-bottom: 10px;
}

.prod-name {
    font-family: 'Libre Caslon Text', serif;
    font-size: 16px;
    font-weight: bold;
}

.review-content {
    background-color: white;
    padding: 20px;
    flex-grow: 1; /* Expand to fill remaining space */
}

.review-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.reviewer-name {
    font-family: 'Libre Caslon Text', serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.stars {
    color: #f5a623;
    font-size: 16px;
}

.review-body {
    font-size: 16px;
}

.review-body p {
    margin: 0;
    margin-bottom: 10px;
}

.review-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
    font-size: 14px;
    color: #888;
}

.review-footer .action-button {
    background: #000;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 10px 20px;
    font-family: 'futura pt', sans-serif;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    text-transform: uppercase;
}

.review-footer .action-button i {
    margin-right: 5px;
}

.review-footer .action-button:hover {
    background-color: #444;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    font-family: 'Libre Caslon Text', serif;
}
